@import "./variables.css";

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background: var(--bb-secondary);
  padding: 30px;
  border-radius: 10px;
  width: 800px;
      position: relative;
  text-align: center;
  color: #4466EE;
}
input[type="file"]::file-selector-button {
  background-color: var(--bb-primary); /* azul BB */
  color: white;          /* amarelo BB */
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 0.5px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: #4466EE;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.enviar{
    margin-top: 30px;
}


.drop-area {
  border: 2px dashed #4466EE;
  padding: 30px;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 40px;
  transition: 0.2s;
}

.drop-area.drag-over {
  border-color: var(--bb-secondary);
  background: var(--bb-secondary);
}

.msg-validacao {
  color: rgb(92, 222, 92);
  margin-top: 15px;
}

.msg-conta {
  color: var(--bb-primary);
  margin-top: 10px;
}