@import "./styles/variables.css";

:root {
  font-family: var(--font-primary);
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--background-color);
  color: #213547;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}
